<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: fixed;
        bottom: 10px;
        right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita
      velit eum explicabo iusto natus, aliquid, culpa assumenda voluptatum
      cupiditate delectus, deserunt facilis cumque minima nihil qui provident
      sed fugiat magnam veritatis! Atque deserunt harum quam esse optio. Velit
      illum fuga ducimus perspiciatis? Dolorum sint molestiae atque neque velit
      dicta modi eligendi ratione, non harum consectetur minus itaque, quisquam
      sed aliquam voluptatibus veritatis rerum. Minus in hic illum magni ad
      tenetur vero consectetur dolore neque ipsa. Nulla enim voluptatem animi
      cum odio quae iure pariatur accusamus! Harum illum, et maxime delectus ea
      itaque cumque provident. Et recusandae quis, vel est deserunt consequatur
      fugiat at nostrum expedita temporibus dicta vero maxime dolores
      exercitationem veritatis voluptates delectus possimus reprehenderit
      assumenda consequuntur dolore, magni harum impedit? Excepturi, inventore
      ad nulla, odio odit sequi blanditiis dolorum optio commodi neque
      obcaecati. Tenetur ipsa quis harum sit deserunt a illum. Pariatur,
      suscipit. Vero atque alias numquam animi. Quasi placeat repudiandae
      temporibus quae dicta, porro velit, harum cum explicabo distinctio,
      facilis obcaecati. Atque, in suscipit minus cumque corporis saepe libero
      velit maxime autem sequi vero tempora porro doloribus similique qui quidem
      nisi totam asperiores. Voluptatibus magni, ducimus enim ea natus, nostrum
      voluptate, esse accusantium eligendi repudiandae unde.
    </p>
  </body>
</html>
